
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #8A2BE2, #3321, #8A2BE2);
}

body {
    background: linear-gradient(to right, #8A2BE2, #3321, #8A2BE2);
}
p{
    margin: 3px;
    padding: 3px;
}
.post-info,
.indent {
    font-family: 'Dancing Script', cursive;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-boundaries {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.user-block {
    width: 33%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

button,
.post-btn,
.user-block button {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 90%;

}
.comments-btn{
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 50%;

}

.user-details-container,
.post-details {
    font-family: 'Dancing Script', cursive;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-details {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.user-details p {
    text-align: center;
}

.post-item {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#postDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.post-details {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-item {
    font-family: 'Dancing Script', cursive;
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

